<!DOCTYPE html>
<html>
  <head>
    <title>PiImage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <hr>
  <small>
    <%= link_to 'Users', users_path %> |
    <%= link_to 'Posts', posts_path %> |
    <%= link_to 'IU1 Workshop GitHub Projects', 'https://github.com/pateljj04/iu1workshop' %> |
    <%= link_to 'IU1 Workshop Resources', 'https://stem.tiu11.org/workshops/pi-workshop-iu1/' %> |
    <%= link_to 'stem.tiu11.org', 'https://stem.tiu11.org/' %>
  </small>
</html>
